<ion-header>
    <ion-toolbar>
      <ion-title>
        Modal
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" hideWhen="ios"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item>
      <ion-label>{{foo}} </ion-label>
      <!-- <ionic-selectable
        item-content
        [(ngModel)]="port"
        itemValueField="id"
        itemTextField="name"
        [items]="ports"
        [canSearch]="true"
        (onSearch)="searchPorts($event)"
        searchPlaceholder="Type to search, e.g. &quot;s&quot;">
      </ionic-selectable> -->
    </ion-item>
  </ion-content>