.lb {
  &-nav {
    &-bottom {
      .td-desktop-logo {
        display: none;
      }

      ion-tab-bar {
        position: fixed;
        bottom: 0;
        width: 100%;
      }
    }

    &-top {
      .td-desktop-logo {
        display: block;
        position: fixed;
        top:0;
        width: 100%;
      }

      ion-tab-bar {
        position: fixed;
        top:0;
        left:45%;
        z-index: 50;
        width: 500px;
        height: 112px;
      }
    }
  }
}

// @media only screen and (min-width: 767px) {
//     .td-tabs {
//         &-desktop {
//             display: block
//         }
//         &-mobile {
//             display: none
//         }
//     }
// }

// @media only screen and (max-width: 768px) {
//     .td-tabs {
//         &-desktop {
//             display: none;
//         }
//         &-mobile {
//             display: block;
//         }
//     }
// }
