ion-tabs {
    &.td-tabs {
        &-desktop {
            height: 84px;
            width: 700px;
            position: static;
            float: right;
        }
    }

}

// @media only screen and (min-width: 767px) {
//     .td-tabs {
//         &-desktop {
//             display: block
//         }
//         &-mobile {
//             display: none
//         }
//     }
// }

// @media only screen and (max-width: 768px) {
//     .td-tabs {
//         &-desktop {
//             display: none;
//         }
//         &-mobile {
//             display: block;
//         }
//     }
// }
 