ion-card {
  background: #f3f3f3;
  padding-bottom: 30px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 14px;

  &-content {
    height: 200px;
    overflow: auto;
    background: rgb(228, 228, 228);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
  }
}

@media only screen and (max-width: 900px) {
  ion-fab-button {
    position: fixed !important;
    bottom: 72px !important;
    right: 22px !important;
  }
  .td-header-desktop {
    display: none;
  }
  .td-header-mobile {
    display: block;
    overflow:hidden;
  }
}

@media only screen and (min-width: 901px) {
  .td-header-mobile {
    display: none;
  }
}
 


